//
   Created by Pranit Anand on 29-10-2014.

extends layout
block content
    div.container
        p Customers
        table(class="table table-striped table-hover " border="2" width="300")
            thead
                tr(class="success")
                    th Customer names
                        each c in custList
                            tr(class="warning")
                                td
                                    a(href='/cust/'+c._id) #{c.contactName}
        table(class="table table-striped table-hover ")
            tr(class="success")
                td
                    td
                        td
                            a(href="##" onClick="history.go(-1); return false;") Back
